@media only screen and (max-width: 1300px) {
  body {
    width: 100%;
    padding: 10px !important;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow-x: hidden;
  }
  .content .content_first {
    overflow-y: visible;
    margin: 0;
    padding: 6px 0px;
    width: 100%;
  }
  .resume_card_wrapper {
    flex-direction: column;
  }
  .resume_card {
    width: 100% !important;
  }
  .content .content_first .resume_card_wrapper .change_course {
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .content_second {
    order: -1;
    width: 100%;
  }
  nav {
    display: none;
  }
}
